# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build file
build

# Sublime
*.sublime-workspace

# Mac cache files
.DS_Store

# Vim locks
*.swp
*.swo

.vagrant
*~

# Jonathan - Trying out making a Qt project so that I can use IDE
# features. This is just on my desktop, so should be excluded.
exclude/*

node_modules
tools/structs/structs

#Doxygen specifics
documentation
Doxyfile.bak
html/
latex/


